<% if(!locals.user){%>
<div class="hero-unit">
    <h1>欢迎来到NodeJs-Blog</h1>
    <p>NodeJs-Bolg是一个基于Node.js的微博系统</p>
    <p>
        <a class="btn btn-parimary btn-large" href="/login">登录</a>
        <a class="btn btn-large" href="/register">立即注册</a>
    </p>
</div>
<% }else{ %>
<% include say %>
<%}%>
<% include posts %>
