*{margin:0px;padding:0px}
body{font:12px/1.5 "Microsoft Yahei",sans-serif}
li{list-style:none}
img{border:0px;width:100%;height:100%}
a{text-decoration:none}
h1{font-size:18px;font-weight:normal}
.box{width:100%;max-width:1280px;margin:0px auto;overflow:hidden;background:#fff;position:relative}
.box .left{width:180px;float:left;position:fixed;top:0px;bottom:0px;background:#f6f6f6}
.box .left .wrap .logo a{display:block}
.box .left .wrap .logo a img{width:100%;height:100%}
.box .left .wrap .nav{overflow:hidden}
.box .left .wrap .nav ul li{height:44px;line-height:44px;text-align:center}
.box .left .wrap .nav ul li a{display:block;color:#666;font-size:16px}
.box .left .wrap .feeds{width:74%;height:36px;padding-left:18%;margin:10px 0px;position:relative}
.box .left .wrap .feeds a:nth-child(1){width:36px;height:36px;margin-right:10px;display:inline;background-color:#fd8c84;text-align:center;line-height:36px;font-size:14px;color:white;border-radius:8px;float:left}
.box .left .wrap .feeds a:nth-child(1):hover{background-color:#ff5e52}
.box .left .wrap .feeds a:nth-child(2){width:36px;height:36px;background-color:#60c4fd;display:inline;background-image:url("../images/sprite.jpg");background-repeat:no-repeat;background-position:5px 6px;color:white;border-radius:8px;float:left}
.box .left .wrap .feeds a:nth-child(2):hover{background-color:#1faeff}
.box .left .wrap .feeds span{width:36px;height:36px;margin-left:10px;background-color:#7fd75a;background-image:url("../images/sprite.jpg");background-repeat:no-repeat;background-position:-117px 7px;color:white;border-radius:8px;display:block;float:left}
.box .left .wrap .feeds span:hover{background-color:#4bc916}
.box .left .wrap .feeds img{width:320px;height:250px;position:absolute;left:165px;top:-50px;border:1px solid #ccc;display:none}
.box .left .wrap .slinks{width:75%;height:30px;padding-left:25%;line-height:30px}
.box .left .wrap .slinks a{color:#666}
.box .left .wrap .slinks a:hover{color:#333;text-decoration:underline}
.box .right{width:100%;overflow:hidden;float:left}
.box .right .main{margin:0px 0px 0px 180px;padding:15px 15px 0px}
.box .right .main .sourceCode{width:100%;height:245px;overflow:hidden}
.box .right .main .sourceCode .sLeft{width:50%;height:245px;overflow:hidden;float:left;position:relative}
.box .right .main .sourceCode .sLeft p{width:100%;position:absolute;bottom:0px;background:rgba(0,0,0,0.5);display:block;text-align:center;padding:10px 0px 10px 0px}
.box .right .main .sourceCode .sLeft p a{color:#fff}
.box .right .main .sourceCode .sLeft p a:hover{text-decoration:underline}
.box .right .main .sourceCode .sRight{width:49%;height:245px;float:right}
.box .right .main .sourceCode .sRight ul li{width:49%;height:120px;float:left;position:relative}
.box .right .main .sourceCode .sRight ul li:nth-child(2){float:right}
.box .right .main .sourceCode .sRight ul li:nth-child(3){margin-top:5px}
.box .right .main .sourceCode .sRight ul li:nth-child(4){float:right;margin-top:5px}
.box .right .main .sourceCode .sRight ul li p{width:100%;position:absolute;bottom:0px;background:rgba(0,0,0,0.5);display:block;text-align:center;padding:10px 0px 10px 0px}
.box .right .main .sourceCode .sRight ul li p a{color:#fff}
.box .right .main .sourceCode .sRight ul li p a:hover{text-decoration:underline}
.box .right .main .hot{width:100%;height:206px;margin-top:10px}
.box .right .main .hot span{width:100%;line-height:38px;font-size:18px;font-family:"Microsoft Yahei";display:block;border-bottom:1px solid #eee;margin-bottom:5px}
.box .right .main .hot span b{font-weight:normal;padding:10px 0px 7px 0px;border-bottom:2px solid #0d6cbf}
.box .right .main .hot ul{width:100%;height:163px;counter-reset:count}
.box .right .main .hot ul li{height:32px;line-height:32px}
.box .right .main .hot ul li:before{content:counter(count);counter-increment:count 1;display:block;width:20px;height:20px;text-align:center;line-height:20px;color:#fff;float:left;margin-top:5px;margin-right:7px;background:#999}
.box .right .main .hot ul li:nth-child(1):before{background:#fd8c84}
.box .right .main .hot ul li:nth-child(2):before{background:#7fd75a}
.box .right .main .hot ul li:nth-child(3):before{background:#60c4fd}
.box .right .main .hot ul li:nth-child(1):after{content:"阅读596次";color:#999;float:right}
.box .right .main .hot ul li:nth-child(2):after{content:"阅读503次";color:#999;float:right}
.box .right .main .hot ul li:nth-child(3):after{content:"阅读485次";color:#999;float:right}
.box .right .main .hot ul li:nth-child(4):after{content:"阅读452次";color:#999;float:right}
.box .right .main .hot ul li:nth-child(5):after{content:"阅读209次";color:#999;float:right}
.box .right .main .hot ul li a{font-size:14px;color:#666}
.box .right .main .c1{margin-top:5px}
.box .right .main .news{width:100%}
.box .right .main .news span{width:100%;line-height:38px;font-size:18px;font-family:"Microsoft Yahei";display:block;border-bottom:1px solid #eee;margin-bottom:5px}
.box .right .main .news span b{font-weight:normal;padding:10px 0px 7px 0px;border-bottom:2px solid #0d6cbf}
.box .right .main .news ul{overflow:hidden}
.box .right .main .news ul li{margin-top:10px;border-bottom:1px solid #eee}
.box .right .main .news ul li .title{width:100%;line-height:30px}
.box .right .main .news ul li .title a{font-size:20px;color:#444}
.box .right .main .news ul li .title a:hover{color:#428bca;text-decoration:underline}
.box .right .main .news ul li .node{height:132px;overflow:hidden;margin-top:5px}
.box .right .main .news ul li .node .txt{width:70%;float:left}
.box .right .main .news ul li .node .txt p{font-size:14px;color:#666;line-height:25px}
.box .right .main .news ul li .node .txt .views{height:20px}
.box .right .main .news ul li .node .txt .views span{width:25%;height:20px;float:left;text-align:left;font-size:12px;color:#999}
.box .right .main .news ul li .node .pic{width:28%;float:right}
.box .advert{display:none}
.box .footer{display:none}
.toTop{display:none}
/*list*/
.box .right .main .place{width:100%;border-bottom:1px solid #eee;line-height:26px}
.box .right .main .place span{border-bottom:2px solid #0d6cbf;padding-bottom:5px}
.box .right .main .place span strong{font-weight:normal;color:#666;font-size:14px}
.box .right .main .place span a{color:#666;font-size:14px}
.box .right .main .assort{margin-top:25px;line-height:40px}
.box .right .main .assort ul{width:100%;overflow:hidden}
.box .right .main .assort ul li{width:30%;float:left;text-align:center;display:inline;background:#f6f6f6;border-radius:5px;margin-bottom:10px;}
.box .right .main .assort ul li:nth-child(1){background:#fd8c84}
.box .right .main .assort ul li:nth-child(2){background:#7fd75a;margin-left:5.33%}
.box .right .main .assort ul li:nth-child(3){background:#60c4fd;float:right}
.box .right .main .assort ul li:nth-child(4){background:#1c89ea;float:left;}
.box .right .main .assort ul li:nth-child(5){background:#f11fff;margin-left:5.33%;}
.box .right .main .assort ul li:nth-child(6){background:#1ab394;float:right;}
.box .right .main .assort ul li:nth-child(7){background:#ffad38;}
.box .right .main .assort ul li:nth-child(8){background:#d42b54;margin-left:5.33%;}
.box .right .main .assort ul li:nth-child(9){background:#ea6f5a;float:right;}
.box .right .main .assort ul li a{color:#fff;font-size:14px;display:block}
.box .right .main .news .page{width:100%}
.box .right .main .news .page li{float:left;line-height:37px;padding:0px 10px 0px 10px}
.box .right .main .news .page li span{font-size:12px;color:#444}
.box .right .main .news .page li a{font-size:12px;color:#444}
/*article*/
.box .right .main .article{margin-top:10px}
.box .right .main .aTitle{line-height:45px}
.box .right .main .message{color:#999;margin-bottom:10px}
.box .right .main .message span{margin-right:5px}
.box .right .main .content{overflow: auto; line-height:25px;font-size:14px}
.box .right .main .content p{margin:15px 0px}
.box .right .main .content img{width:90%;height:auto;border:1px solid #ccc}
.box .right .main .content .myvideo{width:100%;height:320px}
.box .right .main .share{width:100%;height:auto;margin-top:10px;clear:both}
.box .right .main .share span{color:red;line-height:27px}
.box .right .main .zx{width:100%;padding:15px 0px 15px 0px;margin:0px 0px 10px 0px;border:1px dashed #ccc;background-color:#FFFDEE;background-image:url("../images/ts.jpg");background-repeat:no-repeat;background-position:10px 6px}
.box .right .main .zx ul{width:80%;margin-left:65px}
.box .right .main .zx ul li{line-height:20px}
.box .right .main .zx ul li a{color:red}
.box .right .main .xg{width:100%;height:auto;overflow:hidden}
.box .right .main .xg span{width:100%;line-height:38px;font-size:18px;font-family:"Microsoft Yahei";display:block;border-bottom:1px solid #eee;margin-bottom:5px}
.box .right .main .xg span b{font-weight:normal;padding:10px 0px 7px 0px;border-bottom:2px solid #0d6cbf}
.box .right .main .xg ul{width:100%;overflow:hidden}
.box .right .main .xg ul li{width:100%;line-height:30px;float:left}
.box .right .main .xg ul li a{font-size:12px;color:#000}
.box .right .main .xg ul li a:hover{color:red}
.btn1{line-height:30px;background:#ff5e52;float:left;text-align:center}
.btn2{line-height:30px;margin-left:10px;background:#1faeff;float:left;text-align:center;margin-left:10px}
.btn1 a,.btn2 a{display:block;cursor:pointer;color:white}
.password{width:100%;line-height:30px;clear:both}
.box .right .main .article-advert{display:none}