
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=11,IE=10,IE=9,IE=8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <title>移动端网站优化 zw 模拟博客</title>
    <meta name="description" content="zw随笔博客为您更新最新的移动端手机网站优化排名技巧。" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/pc.css" media="screen and (min-width:1000px)">
    <link rel="stylesheet" type="text/css" href="/stylesheets/pad.css" media="screen and (min-width:700px) and (max-width:999px)">
    <link rel="stylesheet" type="text/css" href="/stylesheets/mobile.css" media="screen and (max-width:699px)">
  </head>
  <body>
    <div class="box">
      <!--left-->
      <div class="left">
        <div class="wrap">
          <!--logo-->
          <div class="logo">
            <a href="#"><img src="/images/logo.jpg" width="180" height="125"></a>
          </div>
          <!--nav-->
          <div class="nav">
            <ul>
              <li><a href="/">网站首页</a></li>
              <li><a href="/mobile" title="移动端网站优化">移动优化</a></li>
              <li><a href="/video" title="SEO视频教程">SEO视频</a></li>
              <li><a href="/jishu" title="SEO技术问答">SEO技术</a></li>
              <li><a href="/shuju" title="数据分析系列教程">数据分析</a></li>
              <li><a href="/anli" title="SEO网站优化案例分享">案例分享</a></li>
              <li><a href="/yingxiao" title="网络营销">网络营销</a></li>
              <li><a href="/qianduan" title="WEB前端开发教程">WEB前端</a></li>
              <li><a href="/zm" title="织梦建站视频教程">织梦教程</a></li>
              <li><a href="/php" title="PHP学习教程">PHP笔记</a></li>
              <li><a href="/mysql" title="MYSQL数据库笔记">MYSQL</a></li>
              <li><a href="/thinkphp" title="ThinkPHP框架">ThinkPHP</a></li>
              <li><a href="/git" title="Git版本控制系统使用教程">GIT笔记</a></li>
              <li><a href="/node" title="2017NodeJS免费学习教程">NodeJS</a></li>
            </ul>
          </div>
          <!--feeds-->
          <div class="feeds">
            <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=1984774346&site=qq&menu=yes" rel="nofollow" title="加为QQ好友">QQ</a>
            <a href="http://weibo.com/274411975?is_all=1" target="_blank" rel="nofollow" title="关注新浪微博"></a>
            <span></span>
            <img src="http://www.zymseo.com/images/wx.jpg" width="320" height="250" alt="微信二维码">
          </div>
          <!--slinks-->
          <div class="slinks">
            <!-- <a href="http://www.zymseo.com/23.html">关于博客</a> -->
            <span>|</span>
            <a href="http://www.zymseo.com/182.html">免责声明</a>
          </div>
        </div>
      </div>
      <!--right-->
      <div class="right">
          <!--main-->
          <div class="main">
            <!--place-->
            <!--<div class="place">
              <span>
                <strong>当前位置：</strong><a href='http://www.zymseo.com/'>赵一鸣博客</a> > <a href='http://www.zymseo.com/mobile/'>移动端网站优化</a> >
              </span>
            </div>-->
            <!--news-->
            <%- body %>
          </div>
      </div>
      <!--advert-->
      <div class="advert">
          <!--ad-->
          <div class="ad">
            <!--div class="ad1">
                 <script type="text/javascript">
                          /*300*120 创建于 2016-04-05*/
                          var cpro_id = "u2588636";
                       </script>
                       <script src="http://cpro.baidustatic.com/cpro/ui/c.js" type="text/javascript"></script>
            </div>
            <div class="ad2">
              <script type="text/javascript">
                                 /*300*250 创建于 2016-04-05*/
                                 var cpro_id = "u2588624";
                          </script>
                          <script src="http://cpro.baidustatic.com/cpro/ui/c.js" type="text/javascript"></script>
            </div-->
          </div>
          <!--search-->
          <div class="search">
            <span><b>站内搜索</b></span>
            <div style="background-color: red; height: 100px;">
              <label>这是搜索</label>
            </div>
          </div>
          <!--hczj-->
          <!--
          <div style="width:300px">
              <a href="http://www.henghost.com/ul-xinyunhost.shtml" target="_blank" rel="nofollow"><img src="http://www.zymseo.com/uploads/images/hczj.jpg" width="300" alt="恒创主机"></a>
          </div>
          -->
          <!--randoms-->
          <div class="randoms">
            <span><b>最新推荐</b></span>
            <ul>
              <li><a href="http://www.zymseo.com/150.html">【视频】网站交换友情链接的问题总结</a></li>
              <li><a href="http://www.zymseo.com/147.html">推荐2款实用方便的桌面视频录制软件</a></li>
              <li><a href="http://www.zymseo.com/144.html">网站死链接的检测及处理方式</a></li>
              <li><a href="http://www.zymseo.com/85.html">如何向百度站长平台提交死链</a></li>
              <li><a href="http://www.zymseo.com/168.html">百度站内搜索适合什么样的网站使用</a></li>
              <li><a href="http://www.zymseo.com/106.html">360与百度云加速对SEO优化的影响</a></li>
              <li><a href="http://www.zymseo.com/136.html">百度提示危险网站的解决方案</a></li>
              <li><a href="http://www.zymseo.com/112.html">提高企业网站页面质量的方法</a></li>
              <li><a href="http://www.zymseo.com/135.html">如何删除百度下拉框和相关搜索中负面信息</a></li>
              <li><a href="http://www.zymseo.com/158.html">windows主机网站目录路径改版301的方法</a></li>
            </ul>
          </div>
                                         <!-- <div class="ad2">
                                             <script type="text/javascript">
                                                 /*300*250 创建于 2016-04-05*/
                                                 var cpro_id = "u2588720";
                                             </script>
                                             <script src="http://cpro.baidustatic.com/cpro/ui/c.js" type="text/javascript"></script>
                                          </div>-->
                </div>
                <!--footer-->
                <div class="footer">
            <span>京ICP备14051237号-2</span>
            <span>Wordpress-Copyright太原SEO赵一鸣随笔博客</span>
            <span><a href="http://www.zymseo.com/sitemap.xml" target="_blank">太原SEO谷歌地图</a></span>
            <span><a href="http://www.zymseo.com/sitemap.html" target="_blank">百度地图</a></span>
          </div>
<!--baiduStatistics-->
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?3a7f9522f15694e2ea55485c6a044e22";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>
<!--baiduPush-->
<script>
(function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https') {
        bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
    }
    else {
        bp.src = 'http://push.zhanzhang.baidu.com/push.js';
    }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>
    </div>
    <!--toTop-->
    <div class="toTop">

    </div>
  </body>
</html>
<script type="text/javascript" src="/javascripts/blog.js"></script>
